{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "explicitTypes": "always"
      }
    },
    {
      "files": [
        "MuffinHub.sol",
        "MuffinHubBase.sol",
        "MuffinHubPositions.sol",
        "PositionManager.sol"
      ],
      "options": {
        "printWidth": 130,
        "explicitTypes": "always"
      }
    },
    {
      "files": ["*.ts", "*.js"],
      "options": {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": ["test/**/*.ts", "scripts/**/*.ts"],
      "options": { "printWidth": 130, "singleQuote": true }
    }
  ]
}
